* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header__nav {
    width: 30%;
}

body {
    font-family: 'Open Sans';
    font-weight: 400;
    
}

.header__pink {
    background-color: #FFF0ED;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
}

.header__left {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 6rem;
    font-weight: 300;
}

h2 {
    font-size: 6rem;
    font-weight: 300;
    text-align: center;
}

h3 {
    font-size: 3.3rem;
    font-weight: 300;
    text-align: center;
}

.nitro__items {
    list-style-type: none;
    font-size: 2.1rem;
    display: flex;
    justify-content: space-around;
}

.header__icon {
    width: 5rem;
    margin: 1rem;
}

.header__link--black {
    color: #393939;
}

.header__link--blue {
    color: #5BACC3;
}