

.background__menutext{
    background-color: #393939;
    width: 30rem;
    height: 20rem;
    text-align: center;
    color: white;
    font-size: 6rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-menu {
    background-image: url("../assets/images/coffee-circle.jpg");
    width: 100%;
    height: 70rem;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    text-align: center;
}


.menu__link {
    text-decoration: none;
    color: white;
    font-size: 2.1rem;
    text-transform: uppercase;
}

.menu__list {
    list-style-type: none;
    background-color: #393939;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 8rem;
    padding: 2rem;
}

.drink--pink {
    background-color: #FFF0ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0px;
}

.drink--gray {
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0px;
}

.drink__price {
    color: #5BACC3;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
}

.drink__text {
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 400;
    max-width: 35%;
    text-align: center;
}


.menu__item {
    border-left: 4px solid #5BACC3;
    padding: 2rem;
    display: flex;
    align-items: center;
}

.drink {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}