* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
}

.header {
  background-color: #FFF0ED;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
}
.header__left {
  display: flex;
  align-items: center;
  padding-left: 2rem;
}
.header__icon {
  width: 5rem;
  margin: 1rem;
}
.header__link--black {
  color: #393939;
}
.header__link--blue {
  color: #5BACC3;
}
.header__nav {
  width: 30%;
}
.header__items {
  list-style-type: none;
  font-size: 2.1rem;
  display: flex;
  justify-content: space-around;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 6rem;
  font-weight: 300;
}

h2 {
  font-size: 6rem;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-size: 3.3rem;
  font-weight: 300;
  text-align: center;
}

.section {
  background-color: #FFF0ED;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0;
}
.section__text {
  font-size: 1.8rem;
  width: 39rem;
  margin: 3rem 0;
}

.button {
  position: relative;
}
.button__link {
  background-color: #5BACC3;
  color: white;
  border: none;
  font-size: 2.1rem;
  font-weight: 400;
  width: 18rem;
  padding: 1.6rem;
  display: block;
  text-align: center;
}
.button__border {
  position: absolute;
  border: 2px solid black;
  width: 18rem;
  height: 6rem;
  left: -0.6rem;
  bottom: 0.5rem;
}

.price {
  color: #5BACC3;
  font-size: 3rem;
  font-weight: bold;
}

.label-left {
  text-align: left;
  margin-bottom: 2rem;
}

.discount__text {
  font-size: 4.5rem;
  font-weight: 400;
  background-color: #393939;
  color: white;
  text-align: center;
  margin: 15rem;
  padding: 4rem;
}

.bold {
  font-weight: bold;
}

.footer {
  background-color: #FFF0ED;
  display: flex;
  justify-content: space-around;
  padding: 8rem 0;
  position: relative;
  overflow: hidden;
}
.footer__background--left {
  position: absolute;
  padding-right: 96vw;
  height: 12rem;
  margin-top: -4rem;
}
.footer__background--right {
  position: absolute;
  padding-left: 98vw;
  height: 12rem;
  margin-top: 4rem;
}

.icons {
  width: 35rem;
  display: inline-block;
}

.text {
  font-size: 1.8rem;
}

.card {
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  width: 33rem;
  height: 44rem;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding-top: 2rem;
  overflow: hidden;
}
.card-container {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
  padding: 2rem;
  width: 100%;
}
.card__pink {
  background-color: #FFF0ED;
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card__bottom {
  text-align: left;
  color: #909090;
  font-size: 1.8rem;
  display: flow;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 0;
  background-color: #F7F7F7;
}

.learnmore {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0;
  align-items: center;
}
.learnmore__right {
  background-image: url(../assets/images/coldbrewbackground.png);
  width: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  padding: 2rem;
  height: 40rem;
  background-size: contain;
  position: relative;
}
.learnmore__right--border {
  position: absolute;
  border: 5px solid #5BACC3;
  width: 40rem;
  height: 40rem;
  left: -2rem;
  bottom: 2rem;
}

.icon {
  width: 5rem;
}
.icon-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}/*# sourceMappingURL=landing.css.map */